In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data.csv")

In [6]:
data.head()

,Player,Tm,Opp,Res,MP,FG,FGA,FG%,3P,3PA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,Data
0,Jayson Tatum,BOS,NYK,W,30.30,14,18,0.778,8,11,...,4,4,10,1,1,1,1,37,38.1,2024-10-22
1,Anthony Davis,LAL,MIN,W,37.58,11,23,0.478,1,3,...,13,16,4,1,3,1,1,36,34.0,2024-10-22
2,Derrick White,BOS,NYK,W,26.63,8,13,0.615,6,10,...,3,3,4,1,0,0,1,24,22.4,2024-10-22
3,Jrue Holiday,BOS,NYK,W,30.52,7,9,0.778,4,6,...,2,4,4,1,0,0,2,18,19.5,2024-10-22
4,Miles McBride,NYK,BOS,L,25.85,8,10,0.800,4,5,...,0,0,2,0,0,1,1,22,17.8,2024-10-22

##### Descrição sobre as principais colunas que analisaremos:

* player - Nome do jogador
* Tm - Time do jogador(Sigla)
* Opp - Time contra quem foi o jogo (Sigla)
* Res - Resultado do jogo, Vitória(W) ou derrota(L)
* FG - Field goals made, arremessos convertidos
* FGA - Field goals attempts, arremessos tentados
* FG% - Porcentagem de field goals convertidos em relação aos tentados
* 3P - Bolas de 3 convertidas
* 3PA - bolas de 3 tentadas
* 3P% - Porcentagem de bolas de 3 convertidas em relação as tentadas
* FT - Lances livres convertidos
* FTA - Lances livres tentados
* FT% - Porcentagem de lances livres convertidos em relação aos lances livres tentados
* TRB - Rebotes totais
* AST - Assistencias
* STL - Roubos de bola
* BLK - Blocks
* TOV - Turnovers(desperdícios de bola)
* PTS - Pontos feitos pelo jogador
* Data - data do jogo

In [8]:
data.columns

Index(['Player', 'Tm', 'Opp', 'Res', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA',
       '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS', 'GmSc', 'Data'],
      dtype='object')

In [11]:
# Apenas ordenando por data. Do começo da temporada regular, até o final da regular
data = data.sort_values('Data')

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16512 entries, 0 to 16511
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  16512 non-null  object
 1   Tm      16512 non-null  object
 2   Opp     16512 non-null  object
 3   Res     16512 non-null  object
 4   MP      16512 non-null  float64
 5   FG      16512 non-null  int64
 6   FGA     16512 non-null  int64
 7   FG%     16512 non-null  float64
 8   3P      16512 non-null  int64
 9   3PA     16512 non-null  int64
 10  3P%     16512 non-null  float64
 11  FT      16512 non-null  int64
 12  FTA     16512 non-null  int64
 13  FT%     16512 non-null  float64
 14  ORB     16512 non-null  int64
 15  DRB     16512 non-null  int64
 16  TRB     16512 non-null  int64
 17  AST     16512 non-null  int64
 18  STL     16512 non-null  int64
 19  BLK     16512 non-null  int64
 20  TOV     16512 non-null  int64
 21  PF      16512 non-null  int64
 22  PTS     16512 non-null  int64
 23  GmSc    16512 non-null  float64
 24  Data    16512 non-null  object
dtypes: float64(5), int64(15), object(5)
memory usage: 3.3+ MB

In [27]:
# total de jogos da temporada regular 1534

data.value_counts(['Tm', 'Opp', 'Data']).count()

1534