In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data.csv")

In [3]:
data.head()

,Player,Tm,Opp,Res,MP,FG,FGA,FG%,3P,3PA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,Data
0,Jayson Tatum,BOS,NYK,W,30.30,14,18,0.778,8,11,...,4,4,10,1,1,1,1,37,38.1,2024-10-22
1,Anthony Davis,LAL,MIN,W,37.58,11,23,0.478,1,3,...,13,16,4,1,3,1,1,36,34.0,2024-10-22
2,Derrick White,BOS,NYK,W,26.63,8,13,0.615,6,10,...,3,3,4,1,0,0,1,24,22.4,2024-10-22
3,Jrue Holiday,BOS,NYK,W,30.52,7,9,0.778,4,6,...,2,4,4,1,0,0,2,18,19.5,2024-10-22
4,Miles McBride,NYK,BOS,L,25.85,8,10,0.800,4,5,...,0,0,2,0,0,1,1,22,17.8,2024-10-22

##### Descrição sobre as principais colunas que analisaremos:

* player - Nome do jogador
* Tm - Time do jogador(Sigla)
* Opp - Time contra quem foi o jogo (Sigla)
* Res - Resultado do jogo, Vitória(W) ou derrota(L)
* FG - Field goals made, arremessos convertidos
* FGA - Field goals attempts, arremessos tentados
* FG% - Porcentagem de field goals convertidos em relação aos tentados
* 3P - Bolas de 3 convertidas
* 3PA - bolas de 3 tentadas
* 3P% - Porcentagem de bolas de 3 convertidas em relação as tentadas
* FT - Lances livres convertidos
* FTA - Lances livres tentados
* FT% - Porcentagem de lances livres convertidos em relação aos lances livres tentados
* TRB - Rebotes totais
* AST - Assistencias
* STL - Roubos de bola
* BLK - Blocks
* TOV - Turnovers(desperdícios de bola)
* PTS - Pontos feitos pelo jogador
* Data - data do jogo

In [4]:
data.columns

Index(['Player', 'Tm', 'Opp', 'Res', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA',
       '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS', 'GmSc', 'Data'],
      dtype='object')

In [5]:
# Apenas ordenando por data. Do começo da temporada regular, até o final da regular
data = data.sort_values('Data')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16512 entries, 0 to 16511
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  16512 non-null  object
 1   Tm      16512 non-null  object
 2   Opp     16512 non-null  object
 3   Res     16512 non-null  object
 4   MP      16512 non-null  float64
 5   FG      16512 non-null  int64
 6   FGA     16512 non-null  int64
 7   FG%     16512 non-null  float64
 8   3P      16512 non-null  int64
 9   3PA     16512 non-null  int64
 10  3P%     16512 non-null  float64
 11  FT      16512 non-null  int64
 12  FTA     16512 non-null  int64
 13  FT%     16512 non-null  float64
 14  ORB     16512 non-null  int64
 15  DRB     16512 non-null  int64
 16  TRB     16512 non-null  int64
 17  AST     16512 non-null  int64
 18  STL     16512 non-null  int64
 19  BLK     16512 non-null  int64
 20  TOV     16512 non-null  int64
 21  PF      16512 non-null  int64
 22  PTS     16512 non-null  int64
 23  GmSc    16512 non-null  float64
 24  Data    16512 non-null  object
dtypes: float64(5), int64(15), object(5)
memory usage: 3.3+ MB

In [7]:
# total de jogos da temporada regular 1534

data.value_counts(['Tm', 'Opp', 'Data']).count()

1534

In [47]:
# média de pontos por jogador
data.groupby('Player')['PTS'].agg(['mean', 'std', 'min', 'max'])

                      mean       std  min  max
Player
A.J. Green        7.659091  5.382760    0   21
A.J. Lawson       2.750000  2.500000    0    6
AJ Johnson        2.444444  4.304391    0   13
Aaron Gordon     12.333333  6.608946    2   31
Aaron Holiday     4.222222  3.742506    0   15
...                    ...       ...  ...  ...
Zach LaVine      23.681818  8.265290    8   37
Zeke Nnaji        1.870968  2.565696    0   12
Ziaire Williams   9.394737  5.997925    0   23
Zion Williamson  23.266667  7.353004   12   34
Zyon Pullin       0.000000       NaN    0    0

[562 rows x 4 columns]

In [50]:
# top 5 maiores médias de ponto
data.groupby('Player')['PTS'].agg(['mean', 'std', 'min', 'max']).sort_values('mean', ascending=False).head(5)

                              mean       std  min  max
Player
Shai Gilgeous-Alexander  32.440000  7.796284   18   54
Giannis Antetokounmpo    31.619048  7.957057   11   59
Nikola Jokić             29.695652  9.013248   10   56
Luka Dončić              28.136364  8.362589   14   45
LaMelo Ball              28.031250  8.726986    7   50

In [54]:
data.groupby('Tm')['PTS'].agg(['mean', 'std']).sort_values('mean', ascending=False).head(5)

          mean        std
Tm
ATL  11.764133   8.310204
NYK  11.723197  10.443177
DEN  11.404719   9.990973
BOS  11.105647   9.740977
MIN  11.082061   9.028050

In [65]:
# top 10 minutos jogados por jogador ordenados pela maior média
data.groupby('Player')['MP'].agg(['mean', 'max', 'min', 'sum']).sort_values('mean', ascending=False).head(10)

                      mean    max    min      sum
Player
Mikal Bridges    38.338235  46.65  27.43  1955.25
Tyrese Maxey     38.031364  47.78  19.63  1673.38
Kelly Oubre Jr.  37.881053  45.40  27.00   719.74
Josh Hart        37.574000  49.42  24.50  1878.70
Devin Booker     37.181522  48.87  25.02  1710.35
Trey Murphy III  37.048750  44.93  29.38   592.78
De'Aaron Fox     36.866809  44.48  30.27  1732.74
Anthony Edwards  36.728627  44.45  26.20  1873.16
Jayson Tatum     36.316531  44.27  28.45  1779.51
OG Anunoby       36.280000  44.50  16.85  1777.72

In [79]:
# mais vitórias na temporada
data[data['Res'] == 'W'].groupby('Tm').size().sort_values(ascending=False).reset_index()

     Tm    0
0   OKC  474
1   CLE  468
2   MEM  402
3   BOS  383
4   DEN  352
5   NYK  349
6   HOU  338
7   MIL  321
8   DAL  313
9   IND  310
10  MIN  310
11  LAL  307
12  LAC  305
13  ORL  288
14  GSW  286
15  SAC  271
16  PHO  266
17  DET  266
18  MIA  258
19  SAS  248
20  POR  241
21  CHI  238
22  ATL  229
23  PHI  196
24  BRK  183
25  TOR  175
26  CHO  135
27  UTA  122
28  NOP  119
29  WAS   94